
.barra{
    background-color: #f27544;

    display: flex;
    justify-content: space-between;
}

.textos{
    display: flex;
    gap: 1.5rem;

}

.typo{
    cursor: pointer;
    color: white;
    cursor: pointer;
    font-family: 'Merriweather', sans-serif !important;
}

.text-decorator-none{
    text-decoration: none;
}