
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Merriweather & display = swap');

.textos2{
  font-family: 'Josefin Sans', sans-serif !important;
}

.botao{
  font-family: 'Josefin Sans', sans-serif !important;
}

.textos1{
  font-family: 'Josefin Sans', sans-serif !important;
}

.Conta{
  font-family: 'Josefin Sans', sans-serif !important;
}

.formulario{
  font-family: 'Josefin Sans', sans-serif !important;
}
