@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Merriweather & display = swap');


.textos1{
  font-weight: bold !important;
}

.imagem{
  background-image: url(https://imgur.com/vMmRALp.png);
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: 90%;
  background-position: center;
  background-color: #FDFBF7;
}

.formulario{
  font-family: 'Josefin Sans', sans-serif !important;
}




.text-decorator-none{
  text-decoration: none;
}

/* .fundo{
  background-color: #FDFBF7;
} */

.textos1{
  color: #02732A;
  font-family: 'Josefin Sans', sans-serif !important;
}

.loginBtn{
  background-color: #caa78b !important;
  color: white;
  font-family: 'Josefin Sans', sans-serif !important;
}

.loginBtn:disabled{
  background-color: lightgray !important;
}

.cadastroBtn{
  color: #f27544;
  font-weight: bold !important;
  text-decoration: none !important;
  font-family: 'Josefin Sans', sans-serif !important;
}

.Conta{
  font-family: 'Josefin Sans', sans-serif !important;
}