.box1{
    background-color: #f2c894; 
    height: 80px
}

.box2{
    background-color: #02732A;
     height: 60px
}

.redes{
    font-size: medium;
    color: #595959;
    padding-right: 0.5rem
}

.textos{
    color: white;
    text-align: center;
}

.textoRedes{
    color: #595959;
}