.caixa{
  background-color: #EFF6FB;

}

.titulo{
  color: #F18F01 !important;
  font-weight: bold !important;
}

.subtitulo{
  color: #449DD1 !important;
  font-weight: bold !important;
}

.botao{
  border-color: white !important;
  background-color: #C589E8 !important;
  color: white !important
}

.postagens{
  background-color: white !important;
}