.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 390px;
  margin: 1rem auto;
  gap: .7rem;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
  font-size: medium;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(5, 93, 30, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(16, 127, 6, 0.1);
}

.icon {
  /* position: absolute; */
  /* left: 1rem; */
  fill: #767c80;
  opacity: 70%;
  width: 2rem;
  height: 2rem;
  cursor: pointer
}

.btnAtualizar{
  color: white !important;
  background-color: #02732A !important;
}

.btnDeletar{
  color: #595959 !important;
  background-color: #F2C894 !important
}

.containerLista {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  width: 96%;
  margin: 0 auto;
}

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@keyframes dot8567 {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dots723423 {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
  margin-top: 50px;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #F27544;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot8567 2.8s infinite;
  animation: dot8567 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots723423 2.8s infinite;
  animation: dots723423 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #F2C894;
  border-radius: 50%;
}
.img-produto img{
  width:100%;
  height: 250px;
}
