.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 390px;
  margin: 1rem auto;
  gap: .7rem;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
  font-size: medium;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(5, 93, 30, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(16, 127, 6, 0.1);
}

.icon {
  /* position: absolute; */
  /* left: 1rem; */
  fill: #767c80;
  opacity: 70%;
  width: 2rem;
  height: 2rem;
  cursor: pointer
}

.btnAtualizar{
  color: white !important;
  background-color: #02732A !important;
}

.btnDeletar{
  color: #595959 !important;
  background-color: #F2C894 !important
}

.containerLista {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  width: 96%;
  margin: 0 auto;
  max-height: 65vh;
}

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@keyframes dot8567 {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dots723423 {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
  margin-top: 50px;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #F27544;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot8567 2.8s infinite;
  animation: dot8567 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots723423 2.8s infinite;
  animation: dots723423 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #F2C894;
  border-radius: 50%;
}

.listaprodutosFundo{
  width: 100vw;
  min-height: 100vh;
  background-color: #F6F6E9;
}

.marcadorLista {
  list-style-type: none;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 3em;
  
}

.btMesmaLinha{
  display: inline;
}

.btnEstilo{
  color: #272727;
  background-color: #C9E265;
  border: none;
  height: 40px;
  line-height: 20px;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  margin: 0 10px;
  font-family: 'Barlow', sans-serif !important;
}



.container {
  display: flex;
  width: 17vw;
  max-height: 50vh;
  border-radius: 1rem;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0px 7px 16px 0px rgba(199, 198, 197, 0.88);
  background-color: white;
  
}

.imageContainer1 img {
  width: 14vw;
  aspect-ratio: 1;
  justify-self: center;
}
.nomeProduto {
  font-family: 'Barlow', sans-serif !important;
  font-weight: bold;
  text-align: center !important;
  color: green;
  margin: 1rem;
}

.valores {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-family: 'Barlow', sans-serif !important;
  margin: 1rem;

}
.Produtoestoquepreco {
  display: flex;
  flex-direction: column;
  font-family: 'Barlow', sans-serif !important;
  font-weight: bold;
  margin-top: 10px;
}

.preco{
  font-size: 1.5rem;
  color: #F27544;
  margin-bottom: 1rem;
}

.descricao{
  font-size: .90rem;
}

.button {
  display: flex;
  background-color: #C9E265;
  width: 55px;
  height: 32px;
  border: 2px solid;
  border-radius: 15px;
  border-color: #C9E265;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: bold;
  align-items: center;
  font-family: 'Barlow', sans-serif !important;

}
.botãoAtualiza {
  background-color: #457D58 !important;
  font-family: 'Barlow', sans-serif !important;
  

}
.botãoDeletar{
  background-color: #BC4749  !important;
  font-family: 'Barlow', sans-serif !important;
}
.containerLista{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}