.imagem2{
    background-image: url(https://imgur.com/Q6PrZjX.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: 70%;
    background-position: center;
    background-color: #FFFEFC;
  
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 1vw !important;
    background-color: #F2C894 !important;
}

.btnCadastro{
    background-color: #02732A !important;
    color: white
}

.btnCadastro:disabled{
    background-color: lightgray !important;
  }

.text-decorator-none{
    text-decoration:none ;
}