.imagem2{
    background-image: url(https://i.imgur.com/aVRy5q5.jpg);
    background-repeat: no-reapeat;
    width: 100vh;
    min-height: 100vh;
    background-color: white !important;
    background-size: cover;
    background-position: center;
  
}

.textos2{
    font-weight: bold !important;
}

.btCancelar{
    margin-right: 20px !important;

}

.text-decorator-none{
    text-decoration:none ;
}