@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');



.titulo{
  color:  #e9845d !important;
  font-weight: bold !important;
  font-family: 'Merriweather',sans-serif !important;
} 


.subtitulo{
  color: #595959 !important;
  font-weight: bold !important;
  font-family: 'Josefin Sans',sans-serif !important; 
}  

.botao{
  border-color: white !important;
  background-color: #F2C894 !important;
  color: white !important;
}

.postagens{
  background-color: white !important;
}

.tab{
  font-family: 'Josefin Sans',sans-serif !important; 
}




